/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom styles begin here */

body {
    font-size:100%;
    line-height:1.5em
}

p {
	font-family:Sans-Serif;
	color:#333;
	margin-bottom:24px;
}

body > p:first-of-type {
  	font-size: 1.125em;
    /* 18px → 18 ÷ 16 = 1.125 */

  	line-height: 1.333em;
    /* 24px → 24 ÷ 18 = 1.3333(3) */
}

h1, h2, h3, h4, h5, h6 {
  	font-family:'Signika', Arial, sans-serif;
	margin-bottom: 24px;
}

h1 {
	font-size:1.5em;
	color:#333;
}

h2 {
	font-family: 'Signika Negative', sans-serif;;  	
	font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
  	line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
	color:#44301a;
}

h3 {
	font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
  	line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
	color:#333;
}

h4 {
  	font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
  	line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
	color:#956537;
}

h5, h6{
	font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
  	line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}



em {
	color: #b66a45;
}

input {
	
}

section {
	
}

blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -0.4em;
}

blockquote b {
  display: block;
  text-indent: 0;
}

/*--- LINKS ---*/
a {
  color: #306011;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  position: relative;
  top: 1px;
}

.read-more:after {
  content: "\00A0\000BB"; /* Insert a space then right angled-quote */
}