

.l-pagewrap {
	width: 320px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	opacity:0.9;
	filter:alpha(opacity=90);/*IE8 and earlier*/
}

.l-primary {	
	overflow: hidden;	
	clear: both;	
}

.l-secondary {
	width: 100%;
	overflow: hidden;	
}

.mod-stayBlock {
	width: 310px;
	float: left;
}

.mod-stayBlockDouble {
	width: 100%;
}

.mod-adBlock {
	width: 100%;
	float: left;
}

header {
	overflow: hidden;
	position: relative;
}

.l-masthead {
	clear: both;
}

footer {
	clear: both;
}


@media only screen and (min-width : 480px) {
	.l-pagewrap {
		width: 480px;
		margin: 0 auto;
	}
	.mod-stayBlock {
		width: 225px;
	}
	.mod-stayBlockDouble {
		width: 100%;
	}	
	.mod-adBlock {
		width: 240px;
		float: left;
	}
}

@media only screen and (min-width : 760px) {
	.l-pagewrap {
		width: 760px;
		margin: 0 auto;
	}	
	.mod-stayBlock {
		width: 365px;
	}	
	.mod-adBlock {
		width: 190px;
	}	
}

@media only screen and (min-width : 960px) {	
	.l-pagewrap {
		width:960px;		
	}	
	.mod-stayBlock {
		width: 310px;
	}	
	.mod-stayBlockDouble {
		width: 620px;
		float: left;
	}
	.mod-adBlock {
		width: 240px;
	}
}


/* -- Footer nav ----------------


-------------------------------*/

@media only screen and (min-width : 480px) {
		.l-pagewrap{
			width:480px;
			margin: 0 auto;
		}
		.mod-nav-first {
			width: 225px;
			float: left;
		}

		.mod-nav-second {
			width: 225px;
			float: left;
		}

		.mod-nav-last {
			width: 460px;
			float: left;
		}
	}

@media only screen and (min-width : 760px) {
		.l-pagewrap{
			width:760px;
			margin: 0 auto;
		}
		.mod-nav-first {
			width: 175px;
			float: left;
		}

		.mod-nav-second {
			width: 175px;
			float: left;
		}

		.mod-nav-last {
			width: 340px;
			float: left;
		}
	}	

@media only screen and (min-width : 960px) {	
	.l-pagewrap{
		width:960px;
	}
	.mod-nav-first {
		width: 225px;
		float: left;
	}

	.mod-nav-second {
		width: 225px;
		float: left;
	}

	.mod-nav-last {
		width: 460px;
		float: left;
	}
}
