

.l-pagewrap {
	width: 320px;
	margin: 0 auto;
	overflow: hidden;
}

.l-primary {	
	overflow: hidden;	
}

.l-secondary {
	width: 100%;
	overflow: hidden;	
}

.mod-stayBlock {
	width: 310px;
	float: left;
}

.mod-stayBlockDouble {
	width: 100%;
}

.mod-adBlock {
	width: 100%;
	float: left;
}



@media only screen and (min-width : 480px) {
	.l-pagewrap {
		width: 480px;
		margin: 0 auto;
	}
	.mod-stayBlock {
		width: 225px;
	}
	.mod-stayBlockDouble {
		width: 100%;
	}	
	.mod-adBlock {
		width: 240px;
		float: left;
	}
}

@media only screen and (min-width : 760px) {
	.l-pagewrap {
		width: 760px;
		margin: 0 auto;
	}	
	.mod-stayBlock {
		width: 365px;
	}	
	.mod-adBlock {
		width: 190px;
	}	
}

@media only screen and (min-width : 960px) {	
	.l-pagewrap {
		width:960px;		
	}	
	.mod-stayBlock {
		width: 310px;
	}	
	.mod-stayBlockDouble {
		width: 620px;
		float: left;
	}
	.mod-adBlock {
		width: 240px;
	}
}



