

/* ------------------------------------------------------

										Main nav 
							
------------------------------------------------------ */

.mod-mainNav {
	margin: 0 15px;	
}

.mod-mainNav ul {
	display: none;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 760px) {
	.mod-mainNav {
		float: left;
	}
	.mod-mainNav ul {
		display: block;
	}
	.mod-mainNav li {
		float: left;
	}
	#showNav {
		display: none;
	}
}

@media only screen and (min-width : 960px) {

}



/* ------------------------------------------------------

									  Mod stayBlock
							
------------------------------------------------------ */

.mod-stayBlock {

}

.mod-stayBlockDouble {
	
}


.mod-stayBlock p {
	margin: 10px;
	border-top: solid 5px red;
}


/* ------------------------------------------------------

									  Mod subBlock
							
------------------------------------------------------ */

.mod-adBlock {

}

.mod-adBlock h4,
.mod-adBlock p {
	margin-left: 15px;
}

.mod-adBlock {
	border-top: solid 5px green;	
}