/* ------------------------------------------------------

										Navigation 
							
------------------------------------------------------ */

nav ul {
	list-style: none;
}

/* ------------------------------------------------------

										Main Navigation 
							
------------------------------------------------------ */

.mod-mainNav {
	margin: 15px;	
}

.mod-mainNav ul {
	display: none;
}

.mod-mainNav li {
	margin: 5px 5px 0 0;
}

.mod-mainNav a {
	color: #000;
	padding:5px;
	border-radius: 5px;
	display: block;
	text-decoration: none;
}

.mod-mainNav a:hover,
.mod-mainNav a.active {
	background: #306011;
	color: #fff;
}

#showNav {
	position: absolute;
	right: 24px;
	top: 42px;
	background: #ccc;
	padding: 0 6px;
	border-radius: 5px;
}

@media only screen and (min-width : 760px) {
	.mod-mainNav {
		float: left;
	}
	.mod-mainNav ul {
		display: block;
	}
	.mod-mainNav li {
		float: left;
	}
	#showNav {
		display: none;
	}
	.mod-mainNav li {
		margin: 0 5px 0 0;
	}

	.mod-mainNav a {
		display: inline;
	}
}

/* ------------------------------------------------------

										Sub nav 
							
------------------------------------------------------ */

.mod-subNav {
	display: none;
}

@media only screen and (min-width : 760px) {
	.mod-subNav {
		margin: 15px;	
		clear: both;
		overflow: hidden;
		display: block;
	}

	.mod-subNav ul {
		background-image:url('../img/subnav-top.png');
		background-repeat:repeat-x;
		overflow: hidden;
		height:50px;
	}

	.mod-subNav li {
		margin: 10px 5px 0 0;
		float: left;
	}

	.mod-subNav a {
		color: #000;
		padding:5px;
		border-radius: 5px;
		text-decoration: none;
	}

	.mod-subNav a:hover{
		color: #201712;
	}
	
	.mod-subNav a.active {
		color: #201712;
		font-weight:bold;
	}
	
}


/* ------------------------------------------------------

									  Mod stayBlock
							
------------------------------------------------------ */

.mod-stayBlock {

}

.mod-stayBlockDouble {
	
}


.mod-stayBlock p {
	margin: 10px;
	/*border-top: solid 5px red;*/
}

.mod-stayBlock h3{
	margin-left:10px;
	margin-bottom:12px;

}


/* ------------------------------------------------------

									  Mod subBlock
							
------------------------------------------------------ */

.mod-adBlock {
	margin: 15px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-adBlock h4 {
	border-top: 1px dashed #999;	
	padding-top: 15px;
}

.mod-adBlock:last-child {
	border: none;
}

.mod-adBlock h4,
.mod-adBlock p {
	margin: 0 15px;
}

.mod-adblock ul{
	list-style-image:url('listarrow.gif');
	background-repeat:no-repeat;
	background-position: 0px 10px;
	padding-left:10px;
}
@media only screen and (min-width : 480px) {
	.mod-adBlock {
		border-right: 1px dashed #999;
	}
	.mod-adBlock h4 {
		border-top: none;	
		padding-top: 0;
	}
	
}


/* ------------------------------------------------------

									  Mod Nav first
							
------------------------------------------------------ */

.mod-nav-first, .mod-nav-second, .mod-nav-last{
	margin-left:15px;
}

.mod-nav-first ul{
	list-style:none;
}

.mod-nav-second ul{
	list-style:none;
}

.mod-nav-last ul{
	list-style:none;
}

/* ------------------------------------------------------

									  Logo
							
------------------------------------------------------ */

h1.logo{
	font-size: 1.8em;
	font-family:'Signika', sans-serif;
	margin-bottom: 0;
	font-weight: bold;
}

.phoneNumber {
	margin: 0 12px;
 	font-size: 1.2em;
	font-weight: bold;
}

@media only screen and (min-width : 760px) {
	h1.logo{
		font-size: 3em;
	}
	.phoneNumber {
		position: absolute;
		right: 12px;
		top: 24px;
	}
}

h1.logo a{
	text-decoration:none;
	color:#333;
}

/* ------------------------------------------------------

									  L-masthead
							
------------------------------------------------------ */

.l-masthead {
	background: #ccc;
	padding: 8px 12px;
	margin-bottom: 18px;
}

.l-masthead h1 {
	margin: 12px 0;
}

@media only screen and (min-width : 760px) {
	.l-masthead {
		padding: 8px 64px;
	}
}

/* ------------------------------------------------------

									  Mod button
							
------------------------------------------------------ */

.wmfBtn {
		/* main button styling */
}

.wmfBtn-outdoors {
	/* changes text colour */
}



/* ------------------------------------------------------

									  Footer
							
------------------------------------------------------ */

footer{
	overflow:hidden;
	background-color:#201712;
}

footer nav{
	margin-top:48px;
}

footer .l-pagewrap{
	background-color:#201712;
	background-image:url('../img/footer-top-test.png');
	background-repeat:repeat-x;
	background-position: 20px 0px;
}

footer nav a{
	color:#ccc;
}

footer nav h4 a{
	color:#d36606;
	margin-left:-10px;
}

footer p{
	color:#ccc;
	margin-left:15px;
	font-size:0.9em;
	margin-top:-20px;
}

footer p a{
	color:#ccc;
	text-decoration:underline;
}
