


.l-primary {
	background: #fff;
	margin: 0 15px;	
}

.l-secondary {
	width: 100%;
	margin: 0 15px;	
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 760px) {
	.l-primary {
		width: 540px;
		float: left;
	}
	.l-secondary {
		width: 190px;
		float: left;
		margin: 0;
	}
	.mod-stayBlock {
		width: 270px;
	}
	.mod-stayBlockDouble {
		width: 100%;
	}
}

@media only screen and (min-width : 960px) {
	.l-primary {
		margin: 0 15px;
		width: 620px;
	}

	.l-secondary {
		width: 310px;
	}	
}



