
.l-pagewrap {
	background: #fff;
	opacity:0.9;
	filter:alpha(opacity=90);/*IE8 and earlier*/
}

.l-primary {
	background: #fff;
	margin: 0 15px;
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 760px) {

}

@media only screen and (min-width : 960px) {
	
	
}



